body{
    padding:20px;
}

#grid{
    position:relative;
    height:calc(100vh - 40px);
    border:2px solid black;
}

.btn-link{
    color: #fff;
}

#serialized{
    padding:20px
}

.element{
    position:absolute;
    border:1px solid black;
}

#toolbar .btn{
    margin: 0 3px;
    border-radius: 0px;
}

.modal-removeLine{
    margin-top: 26px;
}
